{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - settings: The custom form settings for the layout.
 *
 * @ingroup themeable
 */
#}

{# Get the column widths #}
{% set column_widths = settings.column_width|split('-') %}

{%
  set row_classes = [
    'row',
    'demo-layout__row',
    'demo-layout__row--two-column'
  ]
%}

{% if content %}
  {% if settings.background_color %}
    <div class="demo-layout__background-color--{{ settings.background_color }}">
  {% endif %}
      <div{{ attributes.addClass( row_classes|join(' ') ) }}>

        {% if content.first %}
          <div {{ region_attributes.first.addClass('column', 'column--' ~ column_widths.0, 'column--first') }}>
            {{ content.first }}
          </div>
        {% endif %}

        {% if content.second %}
          <div {{ region_attributes.second.addClass('column', 'column--' ~ column_widths.1, 'column--second') }}>
            {{ content.second }}
          </div>
        {% endif %}

        </div>
      </div>
  {% if settings.background_color %}
    </div>
  {% endif %}
{% endif %}

